.color-picker-base {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.color-picker-panel {
    position: absolute;
    background: var(--global-black);
    color: var(--global-white);
    border-radius: 12px;
    padding: 12px;
    width: 220px;
    box-shadow: var(--item-shadow);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
}

.dark .color-picker-panel {
    border: 1px solid var(--global-gray);
}

.picker-label {
    color: var(--global-gray);
    pointer-events: none;
}

.picker-hex-input {
    background: var(--hover-gray);
    color: var(--global-white);
    border: 1px solid var(--global-gray);
    border-radius: 6px;
    padding: 6px 8px;
    font-family: monospace;
    width: 100%;
}

.picker-swatches {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: space-between;
}

.swatch {
    width: 22px;
    height: 22px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid var(--global-gray);
    transition: transform 0.2s ease-in-out;
}

.swatch:hover {
    transform: scale(1.1);
}

.picker-checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

/* LABEL: unificado */
.col-label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
    user-select: none;
    font-weight: normal;
    color: var(--global-white);
}

/* Radio old */
.col-label input[type="radio"] {
    display: none;
}

/* Circulo externo */
.custom-radio {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--global-gray);
    background: var(--global-black);
    position: relative;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Circulo interno animado */
.custom-radio::after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--global-green);
    transform: scale(0);
    transition: transform 0.3s ease;
}

/* Radio ativo */
.col-label input[type="radio"]:checked+.custom-radio::after {
    transform: scale(1);
}

.col-label:hover .custom-radio {
    border-color: var(--global-green);
    filter: drop-shadow(0 0 3px rgba(0, 255, 120, 0.6));
}

.col-label:hover {
    color: var(--global-green);
}

.input-color {
    max-width: 100%;
    width: min-content;
    font-weight: 600;
}

.picker-drag-handle {
    height: 20px;
    background: var(--global-black);
    border-radius: 6px;
    text-align: center;
    color: var(--global-white);
    user-select: none;
}

.picker-header {
    display: flex;
    align-items: center;
    gap: 5px;
    width: min-content;
}

.picker-mode-toggle svg {
    display: block;
}

.picker-mode-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--global-gray);
    transition: all 0.2s ease-in-out;
    padding: 2px;
    transform-origin: center;
}

.picker-mode-toggle:active {
    transform: rotate(180deg);
    color: var(--global-black);
}

.color-picker-panel .react-colorful__pointer {
    width: 18px;
    height: 18px;
    border-width: 2px;
    box-shadow: var(--item-shadow);
}

.color-picker-panel .react-colorful__saturation {
    border-bottom: 0;
}