.color-picker-panel {
    position: absolute;
    background: var(--global-black);
    color: var(--global-white);
    border-radius: 12px;
    padding: 12px;
    width: 220px;
    box-shadow: var(--item-shadow);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 9999;
}

.picker-label {
    font-size: 0.8rem;
    color: var(--global-gray);
    font-weight: 500;
    pointer-events: none;
}

.picker-hex-input {
    background: var(--hover-gray);
    color: var(--global-white);
    border: 1px solid var(--global-gray);
    border-radius: 6px;
    padding: 6px 8px;
    font-family: monospace;
    width: 100%;
}

.picker-swatches {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    justify-content: space-between;
}

.swatch {
    width: 22px;
    height: 22px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid var(--global-gray);

    transition: transform 0.2s ease-in-out;
}

.swatch:hover {
    transform: scale(1.1);
}

.picker-checkboxes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    font-size: 0.85rem;
}

.picker-checkboxes label {
    display: flex;
    align-items: center;
    gap: 6px;
}

.col-label {
    display: flex;
    align-items: center;
    color: var(--global-white);
    user-select: none;
}

.input-color {
    max-width: 100%;
    width: min-content;
}

.picker-drag-handle {
    height: 20px;
    background: var(--global-black);
    border-radius: 6px;
    text-align: center;
    font-size: 0.75rem;
    color: var(--global-white);
    user-select: none;
}

.picker-header {
    display: flex;
    align-items: center;
    gap: 5px;
    max-width: 100%;
    width: min-content;
}

.picker-mode-toggle svg {
    display: block;
}

.picker-mode-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--global-gray);
    transition: all 0.2s ease-in-out;
    padding: 2px;
    display: inline-block;
    transform-origin: center center;
}

.picker-mode-toggle:active {
    transform: rotate(180deg);
    color: var(--global-black);
}

.color-picker-panel .react-colorful__pointer {
    width: 18px;
    height: 18px;
    border-width: 2px;
    box-shadow: var(--item-shadow);
}

input[type="radio"] {
    accent-color: var(--global-green);
    transition: all 0.2s ease-in-out;
}

input[type="radio"]:hover {
    cursor: pointer;
}
