.item {
    padding: 10px 15px;
    margin: 5px;
    border: 1px solid var(--global-black);
    border-radius: 10px;
    width: 180px;
    height: auto;

    transition: all 0.5s ease-in-out;
}

.dark .item {
    border: 1px solid var(--global-white);
}

.item:hover {
    border: 1px solid var(--global-green);
    box-shadow: var(--on-focus);
    cursor: grab;
}

.item-description {
    font-size: 0.9rem;
    color: var(--global-gray);
    margin-top: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}