.board {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  padding-bottom: 10px;
  width: 100%;
  height: 350px;
  overflow: visible;
}

.board::-webkit-scrollbar {
  height: 7px;
}

.board::-webkit-scrollbar-thumb,
.col-items::-webkit-scrollbar-thumb {
  background-color: #848484;
  border-radius: 5px;
}

.board::-webkit-scrollbar-thumb:hover,
.kanban-items::-webkit-scrollbar-thumb:hover,
.scrum-items::-webkit-scrollbar-thumb:hover,
.col-items::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
}

.board {
  display: none;
}

.board.active {
  display: flex;
}

.col-add-last {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  border: 1px solid var(--global-green);
  color: var(--global-green);
  border-radius: 6px;
  padding: 20px 0;
  min-width: 200px;

  transition: all 0.3s ease-in-out;
}

.col-add-last:hover {
  background: rgba(45, 164, 74, 0.714);
  color: var(--hover-text-color);
}

.add-col:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.add-column-zone {
  position: relative;
  width: 10px;
  min-width: 10px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  z-index: 5;
  background: transparent;
  pointer-events: auto;
}