.color-input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.color-preview {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid var(--global-gray);
  cursor: pointer;
  display: block;
  flex-shrink: 0;
}