.toast-confirm-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 10px;
}

.toast-confirm-container {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.toast-p {
  font-size: 14px;
}

/* Base btn */
.toast-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease;
}

/* Confirm btn */
.toast-btn-confirm {
  background-color: var(--global-red);
  color: var(--global-white);
}

.toast-btn-confirm:hover {
  background-color: var(--hover-red);
}

/* Cancel btn */
.toast-btn-cancel {
  background-color: var(--global-gray);
  color: var(--global-white);
}

.toast-btn-cancel:hover {
  background-color: var(--hover-gray);
}
