.toastConfirmContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  padding: 10px;
}

.toastConfirmContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.toastText {
  font-size: var(--fs-text);
}

/* Base button */
.toastBtn {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Confirm button */
.toastBtnConfirm {
  background-color: var(--global-red);
  color: var(--global-white);
}

.toastBtnConfirm:hover {
  background-color: var(--hover-red);
}

/* Cancel button */
.toastBtnCancel {
  background-color: var(--global-gray);
  color: var(--global-white);
}

.toastBtnCancel:hover {
  background-color: var(--hover-gray);
}