/* Container principal */
.hub-boards-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

/* Área de scroll/drag */
.hub-boards {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    min-height: 70px;
    flex: 1;
    touch-action: pan-x;

    overflow-x: auto;
    cursor: grab;
    user-select: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hub-boards::-webkit-scrollbar {
    display: none;
}

.hub-boards:active {
    cursor: grabbing;
}

.hub-boards .btn-board {
    cursor: inherit;
}

/* Botão base */
.btn-board {
    position: relative;
    background: transparent;
    margin: 5px;
    font-weight: 600;
    flex-shrink: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--global-gray);
    color: var(--global-gray);
}

.btn-board:hover {
    box-shadow: var(--item-shadow);
}

/* Estilos específicos (Kanban/Scrum) */
.btn-board.btn-view-kanban,
.btn-board.btn-view-scrum {
    border: 1px solid var(--global-green);
    border-radius: 40px;
}

/* Pseudo-elemento para borda ativa (gambs) */
.btn-board::after {
    content: "";
    position: absolute;
    inset: -1px;
    border-radius: inherit;
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
    transition: inherit;
    border: 2px solid var(--global-gray);
}

.btn-board.btn-view-kanban::after,
.btn-board.btn-view-scrum::after {
    border-color: var(--btn-active);
}

/* Estado ativo global */
.btn-board.active {
    border: 2px solid var(--hover-gray);
    color: var(--hover-gray);
    box-shadow: var(--item-shadow);
    font-weight: 700;
}

.btn-board.active::after {
    opacity: 1;
    transform: scale(1);
}

/* Ajustes específicos para Ativos */
.btn-board.btn-view-kanban.active,
.btn-board.btn-view-scrum.active {
    border-color: var(--btn-active);
}

/* Dark Mode - Board Independente Ativo */
.dark .btn-board.active:not(.btn-view-kanban):not(.btn-view-scrum) {
    background-color: var(--hover-gray);
    color: var(--global-white);
    border-color: var(--global-white);
}