/* portal styling (on body) */
.dropdown-options-portal {
    border: 1px solid var(--global-gray);
    border-radius: 4px;
    background-color: var(--bg-color);
    margin-top: 4px;
    box-shadow: var(--item-shadow);
    max-height: 120px;
    overflow-y: auto;
}

.dropdown-option {
    display: flex;
    align-items: center;
    gap: 8px;

    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 8px 10px;
    font-size: 15px;
    cursor: pointer;

    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;

    transition: background-color 0.3s ease-in-out;
}

.dropdown-option:hover {
    background-color: var(--global-black);
    color: var(--global-white);
}

.dark .dropdown-option:hover {
    background-color: var(--global-white);
    color: var(--global-black);
}

/* Dropdown customizado */
.custom-dropdown {
    position: relative;
    min-width: fit-content;
    margin-left: 5px;
    background: var(--bg-color);
}

.dropdown-selected {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    max-width: 180px;

    padding: 5px 10px;
    color: var(--text-color);
    border: 1px solid var(--global-gray);
    border-radius: 6px;
    background: var(--bg-color);
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.dropdown-selected:hover,
.dropdown-selected.open,
.custom-dropdown .dropdown-selected:focus {
    box-shadow: var(--on-focus);
}

.dropdown-selected svg path {
    color: var(--text-color);
}

/* Círculo */
.col-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    border-radius: 50%;

    background: var(--col-bg, transparent);
    border: 2px solid var(--col-border, transparent);
    color: var(--col-font, transparent);
}

.status-value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1 1 auto;
}

.dropdown-icon {
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out;
}

.dropdown-icon.open {
    transform: rotate(180deg);
}