.confirm-modal {
    position: fixed;
    inset: 0;
    background: var(--modal-overlay);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3000;
}

.confirm-modal * {
    background: none;
}

.confirm-modal-content {
    background: var(--global-white);
    padding: 20px;
    border-radius: 12px;
    max-width: 350px;
    text-align: center;
    box-shadow: var(--modal-shadow);
}

.confirm-modal-content h3 {
    margin-bottom: 10px;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--global-red);
}

.confirm-modal-content p {
    max-width: 300px;
    color: var(--global-black);
}

.confirm-modal-actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn-confirm {
    background: var(--global-red);
    color: var(--global-white);
}

.btn-confirm:hover {
    background: var(--hover-red);
}
