.h2-board-page {
    font-size: 30px;
}

.task-counter {
    background-color: transparent;
}

.btn-board.active {
    background: #efefef;
}

.h3-board-page {
    font-weight: 100;
    font-size: 16px;
}

#general-content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    gap: 3rem;
}

.first-section-board {
    display: grid;
    grid-template-columns: 3fr 4fr;
}

.img-panel img {
    width: 70%;
}

.btns-block {
    display: flex;
    gap: 2rem;
}

#h3-title {
    font-size: 24px;
}

.text-content-intro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
}

.tables-block {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

#kanban,
#scrum {
    overflow-x: auto;
}

.kanban-items,
.scrum-items {
    overflow-y: auto;
    width: 200px;
}

.col-items::-webkit-scrollbar {
    width: 6px;

}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.board-title-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    gap: 5px;
}

.add-component {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.add-component:hover {
    transform: scale(1.1);
}

.col-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 200px;
}

.title-col-board {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 200px;
    text-align: center;
}

.col-title-board,
.kanban-item,
.scrum-item {
    color: #efefef;
}

.col-title-board {
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
}

.col-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-y: auto;
    padding-right: 5px;
}

.item {
    padding: 10px 20px;
    border: 1px solid #efefef;
    border-radius: 10px;
    width: 180px;
    height: auto;
}

.item-title {
    font-size: 16px;
    font-weight: 500;
    white-space: wrap;
}

h3 .task-counter {
    margin-left: 5px;
}

.item-description {
    font-size: 0.9rem;
    color: #848484;
    margin-top: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

button.back-btn {
    border: none;
}

button.back-btn:hover {
    cursor: pointer;
}

button.back-btn svg {
    width: 30px;
    height: auto;
}

.item:hover {
    cursor: pointer;
}

.none {
    display: none;
}

@media (min-width: 320px) and (max-width: 768px) {
    .first-section-board {
        display: flex;
    }

    .img-panel {
        display: none;
    }
}