#building-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light-green);
    color: var(--global-white);
    min-height: 100vh;
    width: 100%;
}

.building-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 40px;
    text-align: center;
}

.building-title {
    font-size: clamp(2.5rem, calc(2.5rem + 1.5vw), 4rem);
}

.img-container {
    width: clamp(350px, calc(300px + 10vw), 600px);
    margin: 0 auto;
}

.communicate-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.intro-text {
    max-width: 350px;
}

.actions-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.btn-building {
    position: relative;
    display: inline-block;
    background: var(--global-white);
    border: 1px solid var(--global-black);
}

.btn-building span {
    background: var(--btn-thematic-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sub-link {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    color: var(--global-white);

    transition: all .3s ease-in-out;
}

.sub-link:hover {
    color: var(--global-green);
    font-weight: 600;
    transform: scale(1.1);
}

@media (min-width: 1024px) {
    .building-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
    }
}