* {
    background-color: #151515;
    color: #efefef;
}

.block {
    display: flex;
}

h2 {
    font-size: 5rem;
}

#p-intro {
    max-width: 400px;
    text-align: center;
}

#content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px;
}

.state-communicate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#sub-link {
    font-size: 14px;
    text-decoration: underline;
    margin-top: -20px;
}

#sub-link:hover {
    color: #939393;
    transition: .3s;
}

@media (min-width: 768px) {
    #content-block {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}