.building-page {
    background-color: #051409;
    color: #efefef;
}

.building-page.dark {
    background-color: #141414;
    color: #efefef;
}

.btn-building {
  position: relative;
  display: inline-block;
  border: 1px solid #141414;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  text-decoration: none;
  transition: transform .3s ease-in-out;
  z-index: 0;
  background: #efefef;
  overflow: hidden;
}

.btn-building span {
  background: linear-gradient(90deg, #2da44a, #3dd6b3 50%, #2c7fa3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

.block {
    display: flex;
}

h2 {
    font-size: 5rem;
}

#p-intro {
    max-width: 400px;
    text-align: center;
}

#content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px;
}

.state-communicate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#sub-link {
    font-size: 14px;
    text-decoration: underline;
    margin-top: -20px;
}

#sub-link:hover {
    color: #bababa;
    transition: .3s;
}

@media (min-width: 768px) {
    #content-block {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}