.building-page {
    background-color: var(--light-green);
    color: var(--global-white);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-building {
    position: relative;
    display: inline-block;
    background: var(--global-white);
    border: 1px solid var(--global-black);
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    text-decoration: none;
    transition: transform .3s ease-in-out;
    z-index: 0;
    overflow: hidden;
}

.btn-building span {
    background: var(--btn-thematic-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.block {
    display: flex;
}

h2 {
    font-size: 5rem;
}

#p-intro {
    max-width: 400px;
    text-align: center;
}

#content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 60px;
}

.state-communicate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#sub-link {
    font-size: 14px;
    text-decoration: underline;
    margin-top: -20px;
    color: var(--global-white);
    font-weight: 500;
}

#sub-link:hover {
    color: var(--global-black);
    transition: .3s ease-in-out;
}

@media (min-width: 768px) {
    #content-block {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}