#error-content {
    text-align: center;
    padding: 50px;
}

.error-title {
    font-size: clamp(28px, 4.5vw, 48px);
    margin-bottom: 15px;

    background: var(--btn-thematic-text);
    background-size: 60vw 100%;
    background-position: center;
    background-repeat: no-repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.error-info {
    margin-bottom: 25px;
}

.error-info p {
    margin: 15px 0;
    font-size: 16px;
}

.go-back {
    display: inline-block;
    color: #3366cc;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
    text-shadow:
        0 0 2px #66aaff,
        0 0 5px #5599ee,
        0 0 7px #4477cc,
        0 0 10px #3355aa;
    animation: neon-blue-wink 3s infinite backwards;
    transition: transform .5s ease;
}

.go-back:hover {
    transform: scale(1.05);
}

.img {
    max-width: 100%;
    height: auto;
}

.error-img-container {
    text-align: center;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
}

@media (min-width: 1600px) {
    .error-title {
        background-size: 960px 100%;
    }
}

@keyframes neon-blue-wink {
    0%, 100% {
        text-shadow:
            0 0 2px #66aaff,
            0 0 5px #5599ee,
            0 0 7px #4477cc,
            0 0 10px #3355aa;
        opacity: 1;
    }
    50% {
        text-shadow:
            0 0 1px #88bbff,
            0 0 3px #77aaff,
            0 0 5px #6699ee,
            0 0 8px #5588dd;
        opacity: 0.85;
    }
}