#blocker-content {
    text-align: center;
    padding: 40px;
}

.blocker-title {
    font-size: clamp(1.4rem, 4.5vw, 2rem);
    margin-bottom: 15px;

    background: var(--btn-thematic-text);
    background-size: 60vw 100%;
    background-position: center;
    background-repeat: no-repeat;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.blocker-info {
    margin-bottom: 25px;
}

.blocker-info p {
    margin: 15px 0;
    font-size: 14px;
}

.img {
    max-width: 100%;
    height: auto;
}

.blocker-img-container {
    display: inline-block;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 1600px) {
    .blocker-title {
        background-size: 960px 100%;
    }
}