.floating-menu-container {
    position: relative;
    display: inline-block;
}

.menu-trigger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    transition: transform 0.2s ease-in-out;
}

.menu-trigger:hover {
    transform: scale(1.1);
}

.floating-menu {
    position: absolute;
    top: -100%;
    left: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: var(--bg-component);
    border-radius: 10px;
    padding: 8px;
    box-shadow: var(--item-shadow);
    z-index: 100;
    animation: fadeIn 0.2s ease-in-out;
}

.floating-menu::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -6px;
    width: 12px;
    height: 12px;
    background-color: var(--bg-component);
    transform: rotate(45deg);
    z-index: -1;
}

.menu-item {
    background-color: var(--bg-component);
    border: 1px solid var(--global-white);
    color: var(--global-white);
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
    white-space: nowrap;
    width: max-content;
    min-width: max-content;
}

.menu-item:hover {
    background: var(--hover-component);
    color: var(--global-green);
}

.dark .menu-item {
    border: 1px solid var(--global-black);
    color: var(--global-black);
}

.dark .menu-item:hover {
    background: var(--global-black);
    color: var(--global-white);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}