.floating-menu-container {
    position: relative;
    display: inline-block;
}

.menu-trigger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
    transition: transform 0.2s;
}

.menu-trigger:hover {
    transform: scale(1.1);
}

.floating-menu {
    position: absolute;
    top: -100%;
    left: 100%;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: #2DA44A;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    z-index: 100;
    animation: fadeIn 0.2s ease-in-out;
}

.floating-menu::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -6px;
    width: 12px;
    height: 12px;
    background-color: #2DA44A;
    transform: rotate(45deg);
    z-index: -1;
}

.menu-item {
    background-color: #2DA44A;
    border: 1px solid #efefef;
    color: #efefef;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
    white-space: nowrap;
    width: max-content;
    min-width: max-content;
}

.menu-item:hover {
    background: #efefef;
    color: #2DA44A;
    transform: none;
}

.menu-item.dark:hover {
    background: #212121;
    color: #efefef;
    transform: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}