.floating-menu-container {
    position: relative;
    display: inline-block;
}

/* Add col icon */
.menu-trigger {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;
    padding: 5px;

    transition: transform 0.2s ease-in-out;
}

.menu-trigger:hover {
    transform: scale(1.1);
}

.floating-menu {
    position: absolute;
    top: 110%;
    left: -10%;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: var(--bg-component);
    border-radius: 4px;
    padding: 8px;
    box-shadow: var(--item-shadow);
    z-index: 100;

    animation: fadeIn 0.2s ease-in-out;
}

.floating-menu::before {
    content: "";
    position: absolute;
    top: -6%;
    right: 75%;
    width: 12px;
    height: 12px;
    background-color: var(--bg-component);
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
}

/* FloatingMenu in light theme */
.menu-item {
    background-color: var(--bg-component);
    color: var(--global-white);
    border: 1px solid var(--global-white);
    border-radius: 4px;
    padding: 8px 12px;
    text-align: center;
    font-weight: 600;

    width: 100%;
    min-width: max-content;
    white-space: nowrap;

    transition: all 0.3s ease-in-out;
}

.menu-item:hover {
    background: var(--hover-component);
    color: var(--global-green);
}

/* FloatingMenu in dark theme */
.dark .menu-item {
    border: 1px solid var(--global-black);
    color: var(--global-black);
}

.dark .menu-item:hover {
    background: var(--global-black);
    color: var(--global-white);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (min-width: 768px) {
    .floating-menu {
        top: -100%;
        left: 100%;
        margin-left: 10px;
    }

    .floating-menu::before {
        top: 40%;
        left: -6px;
        transform: rotate(45deg);
    }
}