.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    inset: 0;
    background: var(--modal-overlay);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--global-white);
    border-radius: 8px;
    box-shadow: var(--modal-shadow);
    padding: 24px;
    width: 360px;

    animation: fadeIn 0.2s ease-in-out;
}

.modal-header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-body {
    margin-top: 8px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-title {
    font-size: 20px;
}

.modal-content p {
    font-size: 14px;
}

.modal svg {
    background: transparent;
}

.modal-btn {
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    cursor: pointer;
}

.btn-edit {
    border: 1px solid var(--global-black);
}

.modal-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-title {
    font-size: 14px;
    font-weight: 600;
}

.input-entry {
    max-width: 100%;
    border: 1px solid var(--global-gray);
    border-radius: 6px;
    padding: 8px;
    background: var(--global-white);
    outline: none;
    font-size: 14px;
}

.input-entry:focus {
    box-shadow: var(--on-focus);
}

input::placeholder,
.textarea-description::placeholder {
    font-size: 12px;
    color: var(--global-gray);
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.btn-close:hover {
    transform: scale(1.1);
}

.modal-actions {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

/* Estado desabilitado (sem alterações) */
.modal-btn.btn-save.disabled {
    background-color: var(--btn-disabled);
    color: var(--btn-disabled-text);
    cursor: not-allowed;
}

/* Estado ativo */
.modal-btn.btn-save.active {
    background-color: var(--global-green);
    color: var(--global-white);
}

.modal-btn.btn-save.active:hover {
    background-color: var(--hover-green);
}

/* Base do botão com tooltip */
button[data-tooltip]:not(.btn-close) {
    position: relative;
}

/* Tooltip principal */
button[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    top: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
    background: var(--tooltip-bg);
    color: var(--tooltip-text);
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: normal;

    white-space: pre;
    max-width: 200px;
    overflow-wrap: break-word;
    word-break: normal;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 10;
}

/* Rabinho do tooltip */
button[data-tooltip]::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--tooltip-bg);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    z-index: 10;
}

/* Mostrar tooltip e rabinho no hover */
button[data-tooltip]:hover::after,
button[data-tooltip]:hover::before {
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.97);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}