/* MODAL OVERLAY */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    inset: 0;
    background: var(--modal-overlay);
    padding: 1rem;
    backdrop-filter: blur(6px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal svg {
    background: transparent;
}

/* MODAL */

/* CONTAINER - COLORED BORDER */
.modal-container {
    position: relative;
    box-shadow: var(--modal-shadow);
    width: 100%;
    max-width: 360px;

    animation: scaleIn 0.3s ease-in-out forwards;
}

/* Aplicação da borda colorida */
.dark .modal-container {
    padding: 2px;
    border-radius: 6px;
    background: linear-gradient(90deg, #2DA44A 0%, #3DD6B3 50%, #2C7FA3 100%);
    transform-origin: center;
}

.modal-container.closing {
    animation: scaleOut 0.25s ease-in forwards;
}

/* MODAL - FUTURE CONTENT */
.modal-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    background: var(--bg-color);
    color: var(--text-color);
    border-radius: 4px;
    padding: 20px;

    transition: all 0.3s ease-in-out;
}

/* HEADER */
.modal-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.modal-title {
    width: 100%;
    font-size: clamp(1.1rem, calc(1rem + 0.8vw), 1.5rem);
}

.modal-body {
    width: 100%;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.btn-close:hover {
    transform: scale(1.1);
}

/* GENERAL CONTENT */
.modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    color: var(--text-color);
}

/* RESPONSIVE FONT */

.modal-content label,
.modal-content h3 {
    font-size: clamp(0.9rem, calc(0.8rem + 0.6vw), 1.2rem);
}

.modal-content p {
  font-size: clamp(0.875rem, calc(0.85rem + 0.4vw), 1rem);
}

/* FORM ELEMENTS */
.modal-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.input-title {
    font-size: 14px;
    font-weight: 600;
}

.input-entry {
    width: 100%;
    max-width: 100%;
    border: 1px solid var(--global-gray);
    border-radius: 6px;
    padding: 8px;
    background: var(--bg-color);
    color: var(--text-color);
    outline: none;
    font-size: 14px;
}

.input-entry:focus {
    box-shadow: var(--on-focus);
}

input::placeholder,
.textarea-description::placeholder {
    font-size: 12px;
    color: var(--global-gray);
}

/* BTN GROUP */
.modal-actions {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

/* BUTTONS */
.modal-btn {
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    cursor: pointer;
}

.btn-edit {
    border: 1px solid var(--global-black);
}

/* Estado desabilitado (sem alterações) */
.modal-btn.btn-save.disabled {
    background-color: var(--btn-disabled);
    color: var(--btn-disabled-text);
    cursor: not-allowed;
}

/* Estado ativo */
.modal-btn.btn-save.active {
    background-color: var(--global-green);
    color: var(--global-white);
}

.modal-btn.btn-save.active:hover {
    background-color: var(--hover-green);
}

/* TOOLTIP */

/* Base do botão com tooltip */
button[data-tooltip]:not(.btn-close) {
    position: relative;
}

/* Tooltip principal */
button[data-tooltip]::after {
    content: attr(data-tooltip);
    position: absolute;
    top: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
    background: var(--tooltip-bg);
    color: var(--tooltip-text);
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: normal;

    white-space: pre;
    max-width: 200px;
    overflow-wrap: break-word;
    word-break: normal;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 10;
}

/* Rabinho do tooltip */
button[data-tooltip]::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid var(--tooltip-bg);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    z-index: 10;
}

/* Mostrar tooltip e rabinho no hover */
button[data-tooltip]:hover::after,
button[data-tooltip]:hover::before {
    opacity: 1;
}

/* Tooltip invisível em mobile */
button[data-tooltip]:active::after {
    visibility: hidden;
}

/* ANIMAÇÕES */

/* Entrada (abrindo) */
@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Saída (fechando) */
@keyframes scaleOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.8);
    }
}

@media (min-width: 768px) {
    .modal-container {
        max-width: 450px;
    }
}