.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.808);
    z-index: 1000;
}

.modal .modal-content,
.modal h2,
.modal h3,
.modal p,
.modal strong,
.modal svg,
.modal-content span {
    background: #fefefe;
    color: #141414;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    box-shadow: 6px 6px 12px rgb(35, 35, 35);
    border-radius: 8px;
    position: relative;
    width: 350px;
    max-width: 60%;
    padding: 30px;
}

.modal-content h3,
.modal-content h2 {
    font-size: 18px;
    font-weight: 600;
}

.modal-content p,
.modal-content strong {
    font-size: 16px;
    line-height: 1.5;
}

.modal-content strong {
    font-weight: 600;
}

.modal-content span {
    margin-left: 5px;
    font-size: 16px;
    color: #4b4b4b;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.modal-close:hover {
    transition: all .3s ease-out;
}

.modal svg path {
    color: #ff0000;
}