.typing-cursor {
    display: inline-block;
    width: 2px;
    margin-left: 2px;
    background: var(--global-white);
    animation: blink 1s step-end infinite;
    height: 1em;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}