.hub-boards {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 5px 0;
}

.btn-board {
    position: relative;
    background: transparent;
    margin: 5px;
    font-weight: 600;
}

[class*="btn-view-"] {
    border: 1px solid var(--global-gray);
    border-radius: 10px;
    color: var(--global-gray);
}

.btn-board.btn-view-kanban,
.btn-board.btn-view-scrum {
    border: 1px solid var(--global-green);
    border-radius: 40px;
}

/* border gambs btn-board activated */
.btn-board::after {
    content: "";
    position: absolute;
    inset: -1px;
    border: 2px solid var(--global-gray);
    border-radius: inherit;
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;

    transition: all 0.3s ease-in-out;
}

.btn-board.btn-view-kanban::after,
.btn-board.btn-view-scrum::after {
    border: 2px solid var(--btn-active);
}

.btn-board.btn-view-kanban.active,
.btn-board.btn-view-scrum.active {
    border-color: var(--btn-active);
}

.btn-board.active {
    border: 2px solid var(--hover-gray);
    color: var(--hover-gray);
    box-shadow: var(--item-shadow);
    font-weight: 700;
    transition: all 0.3s ease-in-out;
}

.dark .btn-board.active:not(.btn-view-kanban):not(.btn-view-scrum) {
    background-color: var(--hover-gray);
    color: var(--global-white);
    border-color: var(--global-white);
}


.btn-board.active::after {
    opacity: 1;
    transform: scale(1);
}

.btn-board:hover {
    box-shadow: var(--item-shadow);
}