.hub-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hub-sub-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media (min-width: 768px) {
    .hub-actions {
        margin-bottom: 30px;
    }
}