.modal-content * {
  background: none;
  color: var(--global-black);
}

.modal-overlay {
  position: fixed;
  inset: 0;
  background: var(--modal-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background: var(--global-white);
  border-radius: 12px;
  padding: 24px;
  width: 400px;
  position: relative;
}

.modal-content,
.col-create-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  font-size: 1.2rem;
}

.color-input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.color-preview {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 3px solid var(--global-gray);
  cursor: pointer;
  display: block;
  flex-shrink: 0;
}

label {
  font-size: 14px;
}

.col-title-block,
.col-color-block,
.col-description-block {
  display: flex;
  flex-direction: column;
  gap: 3px;
}