/* Estilos globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #efefef;
  color: #151515;
  letter-spacing: 0.5px;
  line-height: 1.6;
  font-size: 16px;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
}

.content-block {
  margin: 40px 0;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.img-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
  text-decoration: none;
  color: #efefef;
  cursor: pointer;
}

.btn {
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 40px;

  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
}

.btn-project {
  font-weight: 700;
}

.title-thematic {
  background: linear-gradient(90deg, #2DA44A 0%, #3DD6B3 50%, #2C7FA3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.btn-thematic {
  border: 1px solid #efefef;
  cursor: pointer;

  background: linear-gradient(90deg, #2DA44A 0%, #3DD6B3 50%, #2C7FA3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.btn-thematic.light {
  border: 1px solid #2DA44A;
}

.btn-project:hover {
  cursor: pointer;
}

.w-600 {
  font-weight: 600;
}

/* vertical center */
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media (min-width: 320px) and (max-width: 768px) {
  .btn-project {
    font-size: 12px;
  }

  p {
    font-size: 14px;
  }
}