/* Estilos globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: #efefef;
  color: #151515;
  letter-spacing: 0.5px;
  line-height: 1.6;
  font-size: 16px;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
}

.content-block {
  margin: 40px 0;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #efefef;
  cursor: pointer;
}

button {
  font-weight: 600;
}

.btn-project {
  padding: 10px 20px;
  border: none;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}

.btn-project:hover {
  cursor: pointer;
}

.w-600 {
  font-weight: 600;
}

@media (min-width: 320px) and (max-width: 768px) {
  .btn-project {
    font-size: 12px;
  }

  p {
    font-size: 14px;
  }
}