:root {
  /* Global colors */
  --global-green: #2DA44A;
  --hover-green: #217b37;
  --light-green: rgba(45, 164, 74, 0.702);

  --global-blue: #3DD6B3;
  --global-dark-blue: #2C7FA3;

  --global-black: #212121;

  --global-white: #efefef;
  --global-gray: #9b9b9b;
  --hover-gray: #666666;

  --global-red: #d73a49;
  --hover-red: #ae2432;

  /* Thematic & general */
  --bg-color: var(--global-white);
  --text-color: var(--global-black);
  --hover-text-color: var(--global-white);
  --bg-component: var(--global-green);
  --hover-component: var(--global-white);

  --btn-bg: transparent;
  --btn-disabled: #c4c4c4;
  --btn-disabled-text: #666;
  --btn-active: var(--global-green);
  --btn-border: var(--global-green);

  --tooltip-bg: rgba(33, 33, 33, 0.851);
  --tooltip-text: var(--global-white);

  --modal-shadow: 6px 6px 12px rgb(35, 35, 35);
  --modal-overlay: rgba(33, 33, 33, 0.702);

  --item-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --on-focus: 0 0 2px rgba(45, 164, 74, 0.7), 0 0 6px rgba(45, 164, 74, 0.5);
  --btn-thematic-text: linear-gradient(90deg, #2DA44A 0%, #3DD6B3 50%, #2C7FA3 100%);
}

/* Dark mode vars */
.dark {
  --bg-color: #212121;
  --bg-component: var(--global-white);
  --text-color: var(--global-white);
  --btn-bg: var(--global-white);

  --item-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  --modal-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
}

/* Estilos globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  letter-spacing: 0.5px;
  line-height: 1.6;
  font-size: 16px;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.content {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 2%;
}

.content-block {
  margin: 40px 0;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.img-block {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--text-color);
  cursor: pointer;
}

button {
  cursor: pointer;
}

.btn {
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 40px;

  transition: transform 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
}

.modal-btn {
  border: none;
  border-radius: 6px;
  padding: 10px 15px;

  transition: all 0.3s ease-in-out;
}

.modal-btn:hover {
  cursor: pointer;
}

.btn-save {
  width: fit-content;
  background: var(--global-green);
  color: var(--global-white);
}

.btn-save:hover {
  background: var(--hover-green);
}

.btn-close svg path {
  color: var(--global-red);
}

button.btn-delete {
  background: var(--global-red);
  color: var(--global-white);
}

.btn-delete:hover {
  background: var(--hover-red);
}

button.btn-cancel {
  background: var(--global-gray);
  color: var(--global-white);

  transition: all 0.3s ease-in-out;
}

.btn-cancel:hover {
  background: var(--hover-gray);
}

.modal-btn,
.btn-project {
  font-weight: 600;
}

.title-thematic,
.btn-thematic {
  background: var(--btn-thematic-text);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

  cursor: pointer;
  font-weight: 700;
}

.btn-thematic {
  border: 1px solid var(--btn-border);
}

.btn-thematic:hover {
  box-shadow: var(--item-shadow);
}

.board-icon {
  color: var(--global-green);
}

.dark .board-icon {
  color: var(--global-white);
}

.w-600 {
  font-weight: 600;
}

.none {
  display: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .btn-project {
    font-size: 12px;
  }

  p {
    font-size: 14px;
  }
}