.typing-container {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.typing-cursor {
    display: inline-block;
    width: 2px;
    height: 1.2em;
    background-color: var(--global-white, currentColor);
    margin-left: 4px;
    animation: blink 0.8s step-end infinite;
    vertical-align: middle;
}

@keyframes blink {

    from,
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}