.add-task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6px;
  border-radius: 8px;
  border: transparent;
  cursor: pointer;
  color: var(--global-green);

  transition: all 0.3s ease-in-out;
}

.col-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 200px;
}

.title-col-board {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 200px;
    text-align: center;
}

.col-title-board {
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 14px;
}

.col-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    overflow-y: auto;
    padding-right: 5px;
}

.kanban-items,
.scrum-items {
    overflow-y: auto;
    width: 200px;
}

.add-task:hover {
  background-color: var(--hover-green);
}

.add-task:hover * {
  color: var(--global-white);
}

.item-title {
  font-size: 16px;
  font-weight: 500;
  white-space: wrap;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.task-placeholder {
  height: 0;
  padding: 20px;
  width: 100%;
  border: 2px dashed var(--global-dark-blue);
  border-radius: 8px;
  background-color: rgba(52, 152, 219, 0.1);
  overflow: hidden;

  transition: all 0.8s ease-in-out;
}

.task-placeholder.active {
  height: auto;
  padding: 5px 0;
}

.item.task-item {
  transition: all 0.2s ease-in-out;
}

/* Título da coluna */
.col-title-board {
  background: var(--col-bg, transparent);
  border: 1px solid var(--col-border, transparent);
  color: var(--col-font, transparent);
}

/* Círculo */
.col-circle {
  background: var(--col-bg, transparent);
  border: 2px solid var(--col-border, transparent);
  color: var(--col-font, transparent);

  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 6px;
}

.custom-dropdown .col-circle {
  background: var(--col-bg, transparent);
  border: 2px solid var(--col-border, transparent);
}

.col-title-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-icon-left,
.col-icon-right {
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.title-col-board:hover .col-icon-left,
.title-col-board:hover .col-icon-right {
  opacity: 1;
}

.col-title-board {
  margin: 0 8px;
  flex: 1;
  text-align: center;
}